.ingredients {
  display: flex;
  flex-flow: row wrap;
  row-gap: 24px;
  column-gap: 32px;
  max-width: 600px;
  height: 100%;
  max-height: calc(100vh - 368px);
  overflow-y: scroll;
}

.tabs {
  display: flex;
}
