.ingredient {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 272px;
  flex-flow: column nowrap;
  cursor: pointer;

  &__price {
    display: inline-flex;
    gap: 8px;
    align-items: center;
  }

  &__description {
    text-align: center;
  }
}

.isDragging {
  opacity: 0.3;
}

.ingredient.isDragging {
  cursor: move;
}
