.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
  width: 100%;
  align-items: center;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.constructor {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  gap: 40px;
}
