.IngredientDetails {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  &__image {
    display: flex;
    justify-content: center;
    height: 240px;
    //height: 100%;
    margin: auto;
  }

  &__title {
    text-align: center;
    width: 100%;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-flow: row;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding-top: 32px;
  }

  &__item {
    text-align: center;
  }
}
