.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #1c1c21;

  &__nav {
    display: inline-grid;
    //display: inline-flex;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr max-content 1fr;
    width: 100%;
    max-width: 1280px;
  }

  &__nav-right {
    justify-self: flex-end;
  }

  &__logo {
    margin: auto;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }
}
